/* html {
   box-sizing: border-box;
   font-family: var(--main-font);
   font-size: var(--font-size);
   scroll-behavior: smooth;
}

*,
*:before,
*:after {
   box-sizing: inherit;
} */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: "Roboto", sans-serif;
}

body {
   background-color: #353a44;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
}

main {
   width: 100%;
   padding: 20px;
   margin: auto;
   margin-top: 170px;
}

.contenedor__todo {
   width: 100%;
   max-width: 880px;
   margin: auto;
   position: relative;
}

.caja__trasera {
   width: 100%;
   padding: 10px 20px;
   display: flex;
   justify-content: start;
   text-align: center;
   backdrop-filter: blur(6px);
   background-color: rgba(0, 128, 255, 0.3);
   box-shadow: 0px 10px 10px -6px black;
}

.caja__trasera div {
   margin: 98px 40px;
   color: white;
   transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera div button {
   margin-top: 30px;
}

.caja__trasera div h3 {
   font-weight: 400;
   font-size: 26px;
}

.caja__trasera button {
   padding: 10px 40px;
   border: 2px solid #fff;
   background: transparent;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
   color: white;
   outline: none;
   transition: all 300ms;
}

.caja__trasera button:hover {
   background-color: #fff;
   color: #46a2fd;
}

/* Formularios */

.contenedor__login-recuperacion {
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 380px;
   position: relative;
   top: -184px;
   left: 490px;

   transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenedor__login-recuperacion form {
   width: 100%;
   padding: 54px 20px;
   background: #fff;
   position: absolute;
   border-radius: 20px;
   box-shadow: 0px 10px 10px -6px black;
}

.contenedor__login-recuperacion form h2 {
   font-size: 30px;
   text-align: center;
   margin-bottom: 15px;
   color: #46a2fd;
}

.contenedor__login-recuperacion form input {
   width: 100%;
   margin-top: 20px;
   padding: 10px;
   border: none;
   background: #f2f2f2;
   font-size: 16px;
   outline: none;
}

.contenedor__login-recuperacion form button {
   padding: 10px 40px;
   margin-top: 20px;
   border: none;
   font-size: 14px;
   background: #46a2fd;
   color: white;
   cursor: pointer;
   border-radius: 5px;
   outline: none;
   transition: all 300ms ease-out;
}

.contenedor__login-recuperacion form button:hover {
   background: #2c90f3;
}

.formulario__recuperacion {
   opacity: 1;
   display: block;
}
.formulario__recuperacion a p {
   margin-top: 20px;
   color: #46a2fd;
   font-size: 20px;
}
.formulario__recuperacion a p:hover {
   color: #2c90f3;
}

/* Formulario recuperacion contasenia */
.formulario__recuperacion img {
   margin-left: 140px;
   margin-bottom: 10px;
   width: 15%;
   text-align: center;
}
/* Reponsive design */
@media screen and (max-width: 850px) {
   main {
      margin-top: 50px;
   }

   .caja__trasera {
      max-width: 350px;
      height: 300px;
      flex-direction: column;
      margin: auto;
   }

   .caja__trasera div {
      margin: 0;
      position: absolute;
   }

   /* Formularios */

   .contenedor__login-recuperacion {
      top: -10px;
      left: -2px;
      margin: auto;
   }

   .contenedor__login-recuperacion form {
      position: relative;
   }
}
